doctype html
html
  head
    title NKart Shopping
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
  body
    center
        h1
            a(href='/') NKart Shopping
    hr
    block content
