h3 Products
h4
    .container
        .row
            .col-sm-4
                h4 Product ID
            .col-sm-4
                h4 Name
            .col-sm-4
                h4 Price
        hr
        if products
            each product in products
                .row
                    .col-sm-4
                        p #{product.productid}
                    .col-sm-4
                        p #{product.name}
                    .col-sm-4
                        p #{product.price}
